@charset "UTF-8";
/* BREAKPOINTS */
/* BASICO */
/* BASICO */
/* COMPLETO */
/* BASICO */
/* PERSONALIZADO */
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navegation .menu-btn {
  display: none;
}
.navegation .menu-icon {
  position: fixed;
  top: 15px;
  right: 27px;
  cursor: pointer;
  padding: 20px 10px;
  z-index: 3;
}
.navegation .menu-icon .bar {
  width: 20px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  display: block;
  position: relative;
  transition: all 0.3s ease-out;
}
.navegation .menu-icon .bar.bar::before {
  content: "";
  width: 28px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: -8px;
  left: 0;
  transition: all 0.3s;
}
.navegation .menu-icon .bar.bar::after {
  content: "";
  width: 28px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 8px;
  left: 0;
  transition: all 0.3s;
}
.navegation .menu {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navegation .menu .ul {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
}
.navegation .menu .ul .li {
  list-style: none;
}
.navegation .menu .ul .li .a {
  font-family: "Cormorant", serif;
  font-weight: 500;
  color: #000000;
  display: block;
  font-size: 60px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 15px 5px;
  position: relative;
}
.navegation .menu .ul .li .a.a::after {
  content: "";
  width: 0px;
  height: 4px;
  background-color: rgb(0, 207, 111);
  position: absolute;
  top: 50%;
  left: -20%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}
.navegation .menu .ul .li .a.a:hover::after {
  content: "";
  width: 30px;
}

.navegation .menu-btn:checked ~ .menu-icon .bar {
  background-color: transparent;
}

.navegation .menu-btn:checked ~ .menu-icon .bar::before {
  top: 0;
  transform: rotate(45deg);
}

.navegation .menu-btn:checked ~ .menu-icon .bar::after {
  top: 0;
  transform: rotate(-45deg);
}

.navegation .menu-btn:checked ~ .menu {
  transform: scale(1);
  opacity: 0.9;
}

.navegation .menu-btn:checked ~ .menu .ul {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.1s;
}

.background {
  /* Alturas y Background*/
  width: 100%;
  height: 100vh;
  background: url(../../imgs/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.background .background::after {
  content: "";
  width: 100%;
  min-height: 100%;
  background-color: black;
  position: absolute; /* -> Un elemento con position: absolute se elimina del flujo normal de documentos. Se posiciona automáticamente en el punto de inicio (top-left esquina) de su elemento padre.*/
  top: 0;
  left: 0;
}
.background .banner-headings {
  color: rgb(0, 0, 0);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1fr, 12);
  grid-template-rows: 1fr;
}
.background .banner-headings .banner__h1 {
  font-family: "Cormorant", serif;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-size: 100px;
  padding: 0px 20px 0px 20px;
  grid-column: 1/12;
  grid-row: 1/2;
  text-align: center;
  /* ANIMACION */
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@media screen and (max-width: 1328px) {
  .background .banner-headings .banner__h1 {
    font-size: 113px;
  }
}
@media screen and (max-width: 960px) {
  .background .banner-headings .banner__h1 {
    font-size: 87px;
  }
}
@media screen and (max-width: 768px) {
  .background .banner-headings .banner__h1 {
    font-size: 57px;
  }
}
@media screen and (max-width: 480px) {
  .background .banner-headings .banner__h1 {
    font-size: 45px;
  }
}
@media screen and (max-width: 395px) {
  .background .banner-headings .banner__h1 {
    font-size: 35px;
  }
}
.background .banner-headings .banner__h4-fe {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: start;
  grid-column: 4/5;
  grid-row: 2/3;
  /* Animacion */
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@media screen and (max-width: 1328px) {
  .background .banner-headings .banner__h4-fe {
    grid-column: 3/4;
  }
}
@media screen and (max-width: 960px) {
  .background .banner-headings .banner__h4-fe {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 768px) {
  .background .banner-headings .banner__h4-fe {
    grid-column: 4/5;
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .background .banner-headings .banner__h4-fe {
    grid-column: 3/4;
    grid-row: 2/3;
    font-size: 15px;
  }
}
@media screen and (max-width: 395px) {
  .background .banner-headings .banner__h4-fe {
    grid-column: 4/5;
  }
}
.background .banner-headings .banner__h4-lp {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: end;
  grid-column: 8/9;
  grid-row: 2/3;
  /* Animacion */
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@media screen and (max-width: 1328px) {
  .background .banner-headings .banner__h4-lp {
    grid-column: 9/10;
  }
}
@media screen and (max-width: 960px) {
  .background .banner-headings .banner__h4-lp {
    grid-column: 9/10;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 768px) {
  .background .banner-headings .banner__h4-lp {
    grid-column: 8/9;
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .background .banner-headings .banner__h4-lp {
    grid-column: 9/10;
    grid-row: 2/3;
    font-size: 15px;
  }
}
@media screen and (max-width: 395px) {
  .background .banner-headings .banner__h4-lp {
    grid-column: 8/9;
  }
}

/* Keyframe animation */
/* ----------------------------------------------
* Generated by Animista on 2023-12-22 2:22:35
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
/* ----------------------------------------------
* Generated by Animista on 2023-12-22 2:27:7
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.section-sobre-mi {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
}
.section-sobre-mi .sobre-mi__1 {
  width: 100%;
  display: inline-flex;
  padding-top: 25px;
}
.section-sobre-mi .sobre-mi__1 .barra {
  width: 80px;
  height: 1px;
  margin-top: 11px;
  background-color: rgb(0, 0, 0);
}
.section-sobre-mi .sobre-mi__1 h5 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  padding-left: 13px;
}
.section-sobre-mi .sobre-mi__col-2-3 {
  min-height: 525px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
}
@media screen and (max-width: 960px) {
  .section-sobre-mi .sobre-mi__col-2-3 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.section-sobre-mi .sobre-mi__col-2-3 .sobre-mi__2 {
  padding-top: 80px;
  padding-left: 93px;
  padding-right: 10px;
  grid-column: 1/2;
  grid-row: 1/2;
}
@media screen and (max-width: 960px) {
  .section-sobre-mi .sobre-mi__col-2-3 .sobre-mi__2 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.section-sobre-mi .sobre-mi__col-2-3 .sobre-mi__2 h3 {
  padding-bottom: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 48px;
}
.section-sobre-mi .sobre-mi__col-2-3 .sobre-mi__2 h3 span {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 48px;
  font-style: italic;
  color: rgb(0, 133, 82);
}
.section-sobre-mi .sobre-mi__col-2-3 .sobre-mi__2 p {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
}
.section-sobre-mi .sobre-mi__col-2-3 .sobre-mi__3 {
  display: flex;
  align-content: center;
  justify-content: center;
  grid-column: 2/3;
  grid-row: 1/2;
}
@media screen and (max-width: 960px) {
  .section-sobre-mi .sobre-mi__col-2-3 .sobre-mi__3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
.section-sobre-mi .sobre-mi__col-2-3 .sobre-mi__3 img {
  width: 550px;
  height: 526px;
}/*# sourceMappingURL=estilos.css.map */