@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

.navegation .menu-btn {
  display: none;
}
.navegation .menu-icon {
  position: fixed;
  top: 25px;
  right: 30px;
  cursor: pointer;
  padding: 20px 10px;
  z-index: 3;
}
.navegation .menu-icon .bar {
  width: 28px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  display: block;
  position: relative;
  transition: all 0.3s ease-out;
}
.navegation .menu-icon .bar.bar::before {
  content: "";
  width: 28px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: -8px;
  left: 0;
  transition: all 0.3s;
}
.navegation .menu-icon .bar.bar::after {
  content: "";
  width: 28px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 8px;
  left: 0;
  transition: all 0.3s;
}
.navegation .menu {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navegation .menu .ul {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
}
.navegation .menu .ul .li {
  list-style: none;
}
.navegation .menu .ul .li .a {
  color: #000000;
  display: block;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 15px 5px;
  position: relative;
}
.navegation .menu .ul .li .a.a::after {
  content: "";
  width: 0px;
  height: 4px;
  background-color: rgb(0, 3, 192);
  position: absolute;
  top: 50%;
  left: -20%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}
.navegation .menu .ul .li .a.a:hover::after {
  content: "";
  width: 30px;
}

.navegation .menu-btn:checked ~ .menu-icon .bar {
  background-color: transparent;
}

.navegation .menu-btn:checked ~ .menu-icon .bar::before {
  top: 0;
  transform: rotate(45deg);
}

.navegation .menu-btn:checked ~ .menu-icon .bar::after {
  top: 0;
  transform: rotate(-45deg);
}

.navegation .menu-btn:checked ~ .menu {
  transform: scale(1);
  opacity: 0.9;
}

.navegation .menu-btn:checked ~ .menu .ul {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.1s;
}

.background {
  /* Alturas y Background*/
  width: 100%;
  height: 100vh;
  background: url(../../imgs/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.background .background::after {
  content: "";
  width: 100%;
  min-height: 100%;
  background-color: black;
  position: absolute; /* -> Un elemento con position: absolute se elimina del flujo normal de documentos. Se posiciona automáticamente en el punto de inicio (top-left esquina) de su elemento padre.*/
  top: 0;
  left: 0;
}
.background .banner-headings {
  color: rgb(0, 0, 0);
  width: 100%;
  border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.background .banner-headings .banner__h1 {
  color: rgb(0, 0, 0);
  font-size: 100px;
  padding: 10px;
  font-weight: 70;
  text-align: center;
  border: 1px solid rgb(66, 41, 3);
  grid-column: 2/4;
  grid-row: 1/2;
}
@media screen and (max-width: 768px) {
  .background .banner-headings .banner__h1 {
    font-size: 40px;
  }
}
.background .banner-headings .banner__h4-fe {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: start;
  border: 1px solid rgb(255, 6, 201);
}
.background .banner-headings .banner__h4-lp {
  grid-column: 3/4;
  grid-row: 2/3;
  text-align: end;
  border: 1px solid rgb(89, 0, 253);
}/*# sourceMappingURL=estilos.css.map */