.background {
    /* Alturas y Background*/
    width: 100%;
    height: 100vh;
    background: url(../../imgs/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    
.background::after {
    content: "";
    width: 100%;
    min-height: 100%;
    background-color: black;
    position: absolute; /* -> Un elemento con position: absolute se elimina del flujo normal de documentos. Se posiciona automáticamente en el punto de inicio (top-left esquina) de su elemento padre.*/
    top: 0;
    left: 0;
    }

    .banner-headings {
        color: rgb(0, 0, 0);
        width: 100%;

        display: grid;
        grid-template-columns: repeat(1fr, 12);
        grid-template-rows: 1fr;

        .banner__h1 {
            font-family: 'Cormorant', serif;
            font-weight: 400;
            color: rgb(0, 0, 0);
            font-size: 100px;
            padding: 0px 20px 0px 20px;

            grid-column: 1/12;
            grid-row: 1/2;
            text-align: center;

                        /* ANIMACION */
                        -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

            @include pc-1328px {
                font-size: 113px;
            }
            
            @include tablet-960px {               // Hay que poner La media querie en el ELEMENTO que queremos
                font-size: 87px;            // cambiar.
            }

            @include tablet-768px {
                font-size: 57px;
            }

            @include mobile-480px {
                font-size: 45px;  
            }

            @include mobile-395px {
                font-size: 35px;
            }
        }

        .banner__h4-fe {
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            font-size: 24px;
            text-align: start;
            
            grid-column: 4/5;
            grid-row: 2/3;

                        /* Animacion */
                        -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both; 
            
            @include pc-1328px {
                grid-column: 3/4;
            }
            
            @include tablet-960px {
                grid-column: 3/4;
                grid-row: 2/3;
            }

            @include tablet-768px {
                grid-column: 4/5;
                font-size: 20px;
            }

            @include mobile-480px {
                grid-column: 3/4;
                grid-row: 2/3;
                font-size: 15px;
            }

            @include mobile-395px {
                grid-column: 4/5;
            }
        }
    
        .banner__h4-lp {
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            font-size: 24px;
            text-align: end;

            grid-column: 8/9;
            grid-row: 2/3;

            /* Animacion */
            -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both; 


            @include pc-1328px {
                grid-column: 9/10;
            }

            @include tablet-960px  {
                grid-column: 9/10;
                grid-row: 2/3;
            }

            @include tablet-768px {
                grid-column: 8/9;
                font-size: 20px;
            }

            @include mobile-480px  {
                grid-column: 9/10;
                grid-row: 2/3;
                font-size: 15px;
            }

            @include mobile-395px {
                grid-column: 8/9;
            }
        }
    }
}


/* Keyframe animation */

            /* ----------------------------------------------
 * Generated by Animista on 2023-12-22 2:22:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

  /* ----------------------------------------------
 * Generated by Animista on 2023-12-22 2:27:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
