// Menu Hamburguesa - Estructura

.navegation {
    
    .menu-btn {
        display: none;
    }

    .menu-icon {
        position: fixed;
        top: 15px;
        right: 27px;
        cursor: pointer;
        padding: 20px 10px;
        z-index: 3;

        .bar {
            width: 20px;
            height: 2px;
            background-color: rgb(0, 0, 0);
            display: block;
            position: relative;
            transition: all 0.3s ease-out;

        &.bar::before {
            content: "";
            width: 28px;
            height: 2px;
            background-color: rgb(0, 0, 0);
            position:absolute;
            top: -8px;
            left: 0;
            transition: all 0.3s;
        }

        &.bar::after {
            content: "";
            width: 28px;
            height: 2px;
            background-color: rgb(0, 0, 0);
            position:absolute;
            top: 8px;
            left: 0;
            transition: all 0.3s;
        }
        }
    
    }

    // Menu hamburguesa - links Full Screen
    .menu {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        z-index: 2;

        transform: scale(0);
        opacity: 0;
        transition: .3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center; 
        
        .ul {
            opacity: 0;
            transform: scale(0);
            transition: all 0.5s ease-in-out;

            .li {
                list-style: none;

                .a {
                    font-family: 'Cormorant', serif;
                    font-weight: 500;
                    color: #000000;
                    display: block;
                    font-size: 60px;

                    text-transform: uppercase;
                    text-decoration: none;
                    text-align: center;

                    padding: 15px 5px;
                    position: relative;

                &.a::after {
                    content: "";
                    width: 0px;
                    height: 4px;
                    background-color: rgb(0, 207, 111);
                    position: absolute;
                    top: 50%;
                    left: -20%;
                    transform: translateY(-50%);
                    transition: all 0.3s ease-in-out;
                    }

                &.a:hover::after {
                    content: "";
                    width: 30px;
                    }
                }
            }
        }
    }
}

// Menu hamburguesa - Animacion 

.navegation .menu-btn:checked ~ .menu-icon .bar {
    background-color: transparent;
}

.navegation .menu-btn:checked ~ .menu-icon .bar::before {
    top: 0;
    transform: rotate(45deg);
}

.navegation .menu-btn:checked ~ .menu-icon .bar::after {
    top: 0;
    transform: rotate(-45deg);
}

// + 

.navegation .menu-btn:checked ~ .menu {
    transform: scale(1);
    opacity: 0.9;
}

.navegation .menu-btn:checked ~ .menu .ul {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.1s;
}


